@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    Michał Depta
    <a href="https://github.com/MichalDepta">Github profile</a>
</address>

<address>
    <strong>Email:</strong> <a href="mailto:mhdepta@gmail.com">mhdepta@gmail.com</a><br />
</address>
